---
import Text from "../ui/Text.astro";
import type { HTMLAttributes } from "astro/types";
interface Props extends HTMLAttributes<"section"> {
  headingNo: string;
  title: string;
  firstText: string;
  secondText: string;
  textWhite?: boolean;
  programsPage: string;
}
const { ...props } = Astro.props;
const { headingNo, title, firstText, secondText, programsPage } = Astro.props;
---

<section
  class:list={["flex flex-col items-center mt-[20px]", Astro.props.class]}
>
  <div
    class="text-white h-[29px] w-[25px] bg-blue-2 rounded-full text-center text-[21px]"
  >
    {headingNo}
  </div>
  <h3 class="text-[28px] font-medium text-center max-w-[293px] md:max-w-[90%]">
    {title}
  </h3>
  <div class="w-[122px] h-[6px] bg-orange my-[15px]"></div>
  <Text
    class={`text-black text-center max-w-[350px] md:max-w-[90%] md:text-[16px] ${Astro.props.textWhite ? "lg:text-white" : ""}`}
    >{firstText}
  </Text>
  <Text
    class={`text-black text-center pt-5 max-w-[350px] md:max-w-[90%] md:text-[16px] ${Astro.props.textWhite ? "lg:text-white" : ""}`}
    >{secondText}
  </Text>
  <a 
 href={`/${programsPage}`}
class="z-[999]"
  >
    <button
      class={`w-[154px] h-[48px] border-[1px] border-black rounded-[3px] mt-[14px] ${Astro.props.textWhite ? "lg:text-white lg:border-white" : ""}`}
      >
   Click to know more
      </button
    >
  </a>
</section>
